<div class="card">
  <%= link_to image_tag(dish.image, class: :card__img ), dish_path(dish) %>
  <div class="card__body">
    <%= link_to dish.title, root_path, class: :card__title %>
    <p class="card__summary">
      <%= dish.category %>
    </p>
    <%= link_to "投稿者 #{dish.user.nickname}", root_path, class: :card__user %>
  </div>
</div>